.main{
    width: 100%;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    background:url(design\ hail.png)no-repeat;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
}